body {
    background-color: #F3D9B1;
}

#burger>*,
#burger>*:after,
#burger>*:before {
    position: absolute;
}

#burger>*:after,
#burger>*:before {
    content: '';
}

#burger {
    position: relative;
    width: 500px;
    height: 300px;
    margin: auto;
}

#bread {
    width: 170px;
    height: 55px;
    top: 88px;
    left: 150px;
    background-color: #DF7B30;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#bread:after {
    width: 100%;
    height: 30px;
    top: 140px;
    background-color: #DF7B30;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sesame {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#f3d9b1 5%, rgba(0, 0, 0, 0) 6%), radial-gradient(#f3d9b1 5%, rgba(0, 0, 0, 0) 6%);
    background-size: 40px 30px;
    background-position: 10px 0px, 30px 15px;
}

#meat {
    width: 160px;
    height: 25px;
    top: 200px;
    left: 155px;
    background-color: #492F16;
    border-radius: 50px;
}

#lettuce {
    width: 150px;
    height: 15px;
    top: 183px;
    left: 160px;
    background-color: #88B538;
    border-radius: 50px;
}

#cheese {
    width: 160px;
    height: 15px;
    top: 165px;
    left: 155px;
    background-color: #e6af00;
    border-radius: 50px;
}

#melting-cheese {
    animation: melt 3s infinite;
    width: 15px;
    height: 25px;
    background-color: #e6af00;
    top: 165px;
    left: 185px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#melting-cheese:after {
    width: 100%;
    height: 150%;
    background-color: #e6af00;
    left: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes melt {
    0% {
        height: 0%;
    }
    100% {
        height: 10%;
    }
}

#onion {
    width: 150px;
    height: 15px;
    top: 147px;
    left: 160px;
    background-color: #822E81;
    border-radius: 50px;
}

#onion:before {
    width: 13%;
    height: 100%;
    left: 30px;
    background-color: #FFF;
    opacity: 0.4;
}

#onion:after {
    width: 13%;
    height: 100%;
    left: 80px;
    background-color: #FFF;
    opacity: 0.4;
}

#bread,
#sesame,
#meat,
#cheese,
#melting-cheese,
#lettuce,
#onion {
    visibility: hidden;
}